{
  "env": {
    "test": {
      "presets": [    [
        "@babel/preset-env", { "targets": { "node": "current" }}
      ]
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env", {
      "modules": false,
      "loose": false,
      "useBuiltIns": "usage"
    }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime", {
      "regenerator": false
    }
    ],
    ["@babel/plugin-syntax-dynamic-import"]
  ],
  "compact": false,
  "comments": false
}
